@use "@angular/material" as mat;
@import "src/styles/_theming";

$primary-color: mat.get-color-from-palette($my-primary);
$accent-color: mat.get-color-from-palette($my-accent);
$warning-color: mat.get-color-from-palette($my-warn);

$white-color: #ffffff;

$bg-color: mat.get-color-from-palette($my-primary, 200);
