@import "../../../styles/variables";

.form-flow {
  margin: 30px 0;

  &__form {
    display: grid;
    align-items: start;
    grid-template-columns: 50% 1fr 1fr auto;
    width: 100%;
    margin: 0 auto;
    gap: 20px;

    @media (max-width: 1150px) {
      grid-template-columns: none;
    }
  }

  &__input {
    width: 100%;
    margin-right: 20px;
    background-color: #fff;
  }

  &__button {
    color: $white-color !important;
    @media (max-width: 1150px) {
      width: 100%;
    }
  }
}
