<div>
  <h3 class="current-month__title">Mês atual</h3>

  <div class="current-month__content">
    <button mat-icon-button color="primary" aria-label="Próximo mês">
      <mat-icon>chevron_left</mat-icon>
    </button>

    <div
      color="primary"
      (click)="picker.open()"
      class="current-month__selected-month"
    >
      <mat-datepicker
        #picker
        class="current-month__datepicker"
      ></mat-datepicker>
      <input matInput [matDatepicker]="picker" class="current-month__input" />
    </div>

    <button mat-icon-button color="primary" aria-label="Próximo mês">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
