<div>
  <h3 class="current-month__title">Mês atual</h3>

  <div class="current-month__content">
    <button
      mat-icon-button
      color="primary"
      aria-label="Próximo mês"
      (click)="goBackMonth()"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>

    <div class="current-month__div">
      <input
        class="current-month__input"
        matInput
        [matDatepicker]="picker"
        [formControl]="date"
        (ngModelChange)="changeSelectedDate()"
      />
      <button class="current-month__button" (click)="picker.open()">
        {{ formatDate(date.value) }}
      </button>
      <mat-datepicker
        #picker
        [startAt]="date"
        [startView]="'year'"
        (monthSelected)="chosenMonthHandler($event, picker)"
      ></mat-datepicker>
    </div>

    <button
      mat-icon-button
      color="primary"
      aria-label="Próximo mês"
      (click)="advanceMonth()"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
