@import "../../../styles/variables";

.table-flow {
  &__wrapper {
    max-width: 100%;
  }

  &__responsive {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
  }

  &__table {
    width: 100%;
    min-width: 600px;
  }

  &__col {
    &--positive {
      color: $primary-color;
    }

    &--negative {
      color: $warning-color;
    }
  }
}

.mat-column-action {
  text-align: right;
}
